.followersCard {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow-y:scroll;
  height:12rem;
  scrollbar-width:thin; 
  padding:.5rem;
  background: #fff;
  border-radius:1rem;
}


.followersCard-p {
  margin: 0.5rem 0 0.8rem 0.4rem;
  font-weight: bold;
}
.follower {
  margin:.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .9rem 0 .8rem;
  /* margin-top: 2rem; */;
}

.follower h3 {
  
  font-size: 0.7rem;
}

.follower p {
 
  font-size: 0.8rem;
}

.followersCard img {
  border-radius: 50%;
  width: 15%;
  cursor: pointer;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0.2rem;

}
.button-follower{
  padding:.5rem;
  width:4rem; 
}
