@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.title h1 {
  font-size: 4rem;
}

.a-left {
  display: flex;
  gap: 1.2rem;
}
.a-left img {
  width: 120px;
  border-radius: 0.5rem;
}

/*  */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title span {
  font-weight: 700;
  font-size: 2.3rem;
}

.a-right {
  padding: 2rem;
  color:white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.form-container .inputForm {
  border-radius: 0.25rem;
  border: none;
  outline: none;
  padding: 20px;
  flex: 1;
  background: rgb(225, 225, 202);
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.form-container > div {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.form-container > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.form-container > span > p {
  font-size: 0.9rem;
  cursor: pointer;
}
.button-auth {
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

@media (max-width: 990px) {
  .auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .a-left img {
    gap: 1rem;
    width: 40px;
    border-radius: 0.5rem;
  }
  .a-left {
    gap: 0.7rem;
  }
  .title {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .title span {
    .auth-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    font-size: 1.6rem;
  }
  .form-container > span > p {
    font-size: 0.1rem;
    cursor: pointer;
  }
  .form-container > span > p {
    font-size: 0.9rem;
    cursor: pointer;
  }
}

@media (max-width: 450px){
  .a-right{
    padding:1.5rem;
  }
} 