.Home {
  display: grid;
  grid-template-columns: 20rem auto 22rem;
  padding: 0 3rem 0 1rem;
  height: 98svh;
}

@media (max-width: 1200px) {
  .Home {
    grid-template-columns: 5rem auto 1fr;
    padding: 0;
    gap: 0.1rem;
  }
}

@media (max-width: 490px) {
  .Home {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* background-color: #ffff; */
    scroll-behavior: smooth;
    padding: 0;
    gap: 2rem;
  }
}
