.post{
  border-bottom: 1px solid rgb(212, 205, 205);;
  display: grid;
  grid-template-columns: 50px 1fr;
}

@media (max-width:490px){
 
  .post{
    gap:.9rem;
    grid-template-columns: 40px 1fr;
  }

  .md{
    max-width: 400px;
  }
}