@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200;300;400;600;700;800;900&family=Noto+Sans+JP:wght@600&family=Poiret+One&family=Poppins:wght@200;300;400;500;600;700;800&family=Press+Start+2P&family=Yanone+Kaffeesatz:wght@300;400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}https://github.com/Aeionie/Thunder-pals.git
  --orange:orange;
  --green:green;
  --inputColor: rgba(40, 52, 62, 0.07);
  --cardColor:rgba(255,255,255,0.64);
  
}

.app {
  background: #b2e5ee;
  color: var(--black);
  overflow:hidden;
  padding: 1rem 1rem;

}

button{
  display: flex;
  place-content: center; 
  padding:.5rem 1rem;
  color:#fff;
  background: linear-gradient(to right,#0f21ec,#000da9);
  border: #fff;
  border-radius:5%;
  cursor: pointer;
}
button:active{
  transform: translateY(1px);
}


