@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200;300;400;600;700;800;900&family=Noto+Sans+JP:wght@600&family=Poiret+One&family=Poppins:wght@200;300;400;500;600;700;800&family=Press+Start+2P&family=Yanone+Kaffeesatz:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  transition: all 0.1s ease-in-out;
}



@layer base {
  :root {
    --blue: @apply bg-blue-800;
  }
}
:root {
  --primary-color: black;
  --bg-color: white;
  --secondary-color: black;
  --opacity: 0.5;
}
[data-theme="dark"] {
  --primary-color: #fff;
  --bg-color: black;
  --secondary-color: #fff;
  --opacity: 1;
}

.app {
  overflow: hidden;
  height: 100vh;
}

button {
  display: flex;
  place-content: center;
  padding: 0.1rem 0.5rem;
  color: #fff;
  border: #fff;
  border-radius: 5%;
  cursor: pointer;
}
button:active {
  transform: translateY(1px);
}

button {
  @apply bg-blue-800;
}
