.profile-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border-radius: 0.25rem;
  border-radius: 1.5rem; */
  overflow-x: clip;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.profileImages {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImages > img:nth-of-type(1) {
  width: 100%;
}

.profileImages > img:nth-of-type(2) {
  bottom: -3rem;
  box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 6rem;
  border-radius: 50%;
}

.profile-info {
  color:black;
  margin-top: 3rem;
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.people-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.profile-info > span:nth-of-type(1) {
  font-size: 1.2rem;
}

.profile-info > span:nth-of-type(2) {
  font-size: 0.8rem;
}

.people-box > hr {
  width: 85%;
}
.follow-card {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  gap: 2rem;
}

.follow {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.follow > span:nth-of-type(1) {
  font-weight: bold;
}
.follow > span:nth-of-type(2) {
  color: grey;
  font-size: 12px;
}
.middle-line {
  height: 50px;
  border: 1px solid grey;
}
.footer {
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
}
.footer button {
  margin: 0 auto;
  background: none;
  font-weight: bold;
  color: var(--blue);
}
